 node_modules
 .next
 .husky
 coverage
 .prettierignore
 .stylelintignore
 .eslintignore
 stories
 storybook-static
 *.log
 playwright-report
 .nyc_output
 test-results
 junit.xml
 docs
 .yarn
.github
dist
/public
/build
/src/generated
*-lock.json
tsconfig.json